<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div  class="col-lg-6 col-md-12">
           <h2>{{appareil.name}}</h2> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Rem quasi magni earum, tempora accusamus non cum officiis consectetur sunt, 
               corrupti atque ad eum pariatur perspiciatis nisi eius. Iste, temporibus cum.</p>
               <div>
                <button class="btn btn-danger">Retourner</button>
              </div>
        </div>
        
    </div>
</div>
